<header>
    <h3> Welcome to AirIsYourInfo </h3>
</header>
<main>
    <router-outlet></router-outlet>
</main>
<footer>
    <div>&copy; All rights reserved too William Osuji</div>
</footer>

  
<div id="globe-container" style="width: 800px; height: 600px;"></div>
<script src="https://unpkg.com/globe.gl"></script>
<script>
  Globe()
    .globeImageUrl('//unpkg.com/three-globe/example/img/earth-blue-marble.jpg')
    .bumpImageUrl('//unpkg.com/three-globe/example/img/earth-topology.png')
    (document.getElementById('globe-container'));
</script>
